<template>
  <div>
    <b-button @click="addNew" variant="primary">เพิ่มตึก</b-button>
    <b-modal
      id="modal-building"
      ref="modalbuilding"
      title="ตึก"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-building-name"
          label="ชื่อตึก"
          label-for="building-name"
        >
          <b-form-input
            type="text"
            id="building-name"
            placeholder="ชื่อตึก xxx"
            v-model="form.name"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อตึกต้องมีความยาวอย่างน้อย 4 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-building-capacity"
          label="ความจุ"
          label-for="building-capacity"
        >
          <b-form-input
            type="text"
            id="building-capacity"
            placeholder="จำนวนชั้น xx"
            v-model="form.capacity"
            :state="validateCapacity"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateCapacity">
            จำนวนชั้นต้องไม่น้อยกว่าหรือเท่ากับ 0.
          </b-form-invalid-feedback>

        </b-form-group>
                <b-form-group
          id="form-group-building-name"
          label="คณะ"
          label-for="building-name"
        >
          <b-form-input
            type="text"
            id="building-name"
            placeholder="คณะ xxx"
            v-model="form.name"
            :state="validateFaculty"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateFaculty">
            ชื่อคณะต้องมีความยาวอย่างน้อย 4 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    building: Object
  },
  data () {
    return {
      form: {
        _id: '',
        name: '',
        capacity: 0,
        location: ''
      },
      isAddNew: false
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 3
    },
    validateCapacity () {
      return this.form.capacity !== '' && this.form.capacity >= 0
    },
    validateForm () {
      return this.validateName && this.validateCapacity
    },
    validateFaculty () {
      return this.validateFaculty && this.validateCapacity
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.building.show()
    },
    submit () {
      const building = JSON.parse(JSON.stringify(this.form))
      building.capacity = parseFloat(building.capacity)
      this.$emit('save', building)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: '',
        capacity: 0,
        location: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else { // edit
        this.form._id = this.building._id
        this.form.name = this.building.name
        this.form.capacity = this.building.capacity
        this.form.location = this.building.location
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-building')
      })
    }
  }
}
</script>
<style></style>
