<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button variant="primary" @click="addNew">เพิ่มใหม่</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="rooms" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editroom(item)">Edit</b-button
              ><b-button class="ml-3" variant="danger" @click="deleteroom(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    editroom (item) {},
    deleteroom (item) {},
    addNew () {}
  },
  data () {
    return {
      fields: [
        { key: 'ตึก', lable: 'ชื่อตึก' },
        { key: 'รายการอุปกรณ์', lable: 'ชื่ออุปกรณ์' },
        { key: 'รหัสลำดับผู้อนุมัติ', lable: 'รหัส' },
        { key: 'operators', lable: 'กระบวนการ' }
      ],
      rooms: [
        { ตึก: 'IF', รายการอุปกรณ์: 'จอมอนิเตอร์', รหัสลำดับผู้อนุมัติ: '01' },
        { ตึก: 'SC', รายการอุปกรณ์: 'ไมโครโฟน', รหัสลำดับผู้อนุมัติ: '02' },
        { ตึก: 'IF', รายการอุปกรณ์: 'ไวท์บอร์ด', รหัสลำดับผู้อนุมัติ: '03' }
      ]
    }
  }
}
</script>
<style></style>
