<template>
  <div>
    <b-form @submit.prevent="" @reset.prevent="">
      <b-form-group
        id="form-group-building"
        label="ชื่อตึก"
        label-for="building"
      >
        <b-form-input
          type="text"
          id="building"
          placeholder="ชื่อตึก IF"
          v-model="form.building"
          :state="validatebuilding"
        >
        </b-form-input>
        <b-form-invalid-feedback :state="validatebuilding">
          ชื่อตึกมีความยาวอย่างน้อย 2 ตัวอักษร
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="form-group-equipment"
        label="รายการอุปกรณ์"
        label-for="equipment"
      >
        <b-form-input
          type="text"
          id="equipment"
          placeholder="จอมอนิเตอร์"
          v-model="form.equipment"
          :state="validateequipment"
        >
        </b-form-input>
        <b-form-invalid-feedback :state="validateequipment">
          ชื่ออุปกรณ์มีความยาวอย่างน้อย 3 ตัวอักษร
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="form-group-approver"
        label="รหัสลำดับผู้อนุมัติ"
        label-for="approver"
      >
        <b-form-input
          type="number"
          id="approver"
          placeholder="01"
          v-model="form.approver"
          :state="validateapprover"
        >
        </b-form-input>
        <b-form-invalid-feedback :state="validateapprover">
          รหัสผู้อนุมัติห้ามติดลบ
        </b-form-invalid-feedback>
        <b-button type="submit">Submit</b-button><b-button type="reset">Reset</b-button>
      </b-form-group>
    </b-form>
    <b-card>
      <pre>
            {{ form }}
        </pre
      >
    </b-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        id: -1,
        building: '',
        equipment: '',
        approver: ''
      }
    }
  },
  computed: {
    validatebuilding () {
      return this.form.building.length >= 2
    },
    validateequipment () {
      return this.form.equipment.length >= 3
    },
    validateapprover () {
      return this.form.approver >= 0
    }
  },
  methods: {
    submit () {
      console.log(this.form)
    },
    reset () {
      this.form = {
        id: -1,
        building: '',
        equipment: '',
        approver: ''
      }
    }
  }
}
</script>
<style></style>
