<template>
  <div class="app-menu min-vh-100">
    <b-img src="../assets/buu.png" width="80%" class="pt-2 pb-2" center></b-img>
    <b-nav vertical>
      <b-nav-item to="/main">หน้าหลัก</b-nav-item>
      <!-- <b-nav-item to="/about">เกี่ยวกับ</b-nav-item> -->
      <b-nav-item to="/calendar">จองห้อง</b-nav-item>
      <!-- <b-nav-item @click="showFormInput = !showFormInput"
        >ห้อง
        <b-icon
          :icon="showFormInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput1"
        >จองห้อง</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput3"
        >สถานะการจองห้อง</b-nav-item
      > -->

      <!-- <b-nav-item @click="showForm = !showForm"
        >Form
        <b-icon
          :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="./form1"
        >Form 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./form2"
        >Form 2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./form3"
        >Form 3</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./form4"
        >Form 4</b-nav-item
      >
      <b-nav-item @click="showCrudExample = !showCrudExample"
        >CRUD Example
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./datatable1"
        >Data table 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./productform1"
        >Product Form 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./productTable"
        >Product Table</b-nav-item
      > -->
      <b-nav-item @click="showCrudExample = !showCrudExample"
      >ห้อง
      <b-icon
        :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon>
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./roommanagement"
      >จัดการห้อง</b-nav-item>
       <b-nav-item class="sub-menu" v-if="showCrudExample" to="./roomform1"
      >RoomForm1</b-nav-item
      >
      <b-nav-item @click="showCrudExample = !showCrudExample"
      >ตึก
      <b-icon
        :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon>
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./buildingmanagement"
      >จัดการตึก</b-nav-item
      >
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      // showForm: false,
      showCrudExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: rgb(145, 203, 244);
  font-size: 10pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: rgb(4, 4, 4);
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
